# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dep
ARM/STM32L_MD6/Projects/eMD6/EWARM/settings
ARM/STM32L_MD6/Projects/eMD6/EWARM/STM32L-DISCOVERY

